HOST=localhost
PORT=3000
APP_URL=

#JWT config
JWT_SECRET=
JWT_EXPIRE_IN=12h

#Database config
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

#Email
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=